<ul class="list-group">
    {{#each links2}}
    <li>
        <div class="cardcolor text-light">
            <div class="row">
                <div class="col-lg-12 text-start">
                    <h4 class="card-title text-uppercase">
                        {{this.title}}
                    </h4>
                </div>
                <div class="col-md-12">
                    <p class="more-padding">{{this.description}}</p>
                </div>
                <div class="col-md-4 text-start">
                    <p class="text-muted more-padding">
                        {{timeago this.date}}
                    </p>
                </div>
                <div class="col-md-8 text-right">
                    <button type="button" class="btn btn-erase" data-toggle="modal" data-target="#hola{{this.id}}{{@index}}">
                        Más información
                    </button>
                    <div class="modal fade" id="hola{{this.id}}{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-dark">
                            <div class="modal-header text-left">
                                <h4 class="modal-title">{{this.title}}</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                                <h5 class="text-start"> Tipo de medio: {{this.type}}</h5>
                                <h5 class="text-start"> Tipo de impacto: {{this.impact}}</h5>
                                {{#if this.url}}
                                <h5 class="text-start"> Url: 
                                    <a href="{{this.url}}" target="_blank">Link de noticia</a>
                                </h5>
                                {{/if}} 
                                {{#if this.file}}
                                <h5 class="text-start"> Archivo: 
                                    <a href="/files/{{this.file}}" target="_blank">Ver noticia</a>
                                </h5>
                                {{/if}}   
                                <h5 class="text-start"> Descripción:</h5> 
                                <p>{{this.description}}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>    
    </li>
    {{else}}
    <div class="col-md-4 mx-auto">
        <div class="card card-body text-center bg-dark text-light">
            <p>No hay noticias en esta fecha, intente cambiando los parámetros de la fecha</p>
        </div>
    </div>
    {{/each}}
</ul>
<h3 class="text-center text-light">Gŕafica de menciones por mes</h3>
<canvas id="myChart" width="800" height="400">
</canvas>
<script>
    var ctx = document.getElementById('myChart')
    var myChart = new Chart(ctx, {
        type:'bar',
        data:{
            datasets: [{
                label: 'Meses',
                backgroundColor: ['#6bf1ab','#63d69f', '#438c6c', '#509c7f', '#1f794e', '#34444c', '#90CAF9', '#64B5F6', '#42A5F5', '#2196F3', '#0D47A1'],
                borderColor: ['black'],
                borderWidth:1
            }]
        },
        options:{
            scales:{
                y:{
                    beginAtZero:true
                }
            }
        }
    })

    function convertmes(mes){
        mes = mes.substr(5)
        var months = [ "Enero", "Febrero", "Marzo", "April", "Mayo", "Junio", 
        "Julio", "Agosto", "Setiembre", "Octubre", "Noviembre", "Diciembre" ];
        var b = parseInt(mes)
        return months[b-1];
    }

    let url = 'http://localhost:4000/canvas'
    fetch(url)
        .then( response => response.json() )
        .then( datos => mostrar(datos) )
        .catch( error => console.log(error) )


    const mostrar = (articulos) =>{
        articulos.forEach(element => {
            myChart.data['labels'].push(convertmes(element.mes))
            myChart.data['datasets'][0].data.push(element.veces)
            myChart.update()
        });
    }    


</script>