<ul class="list-group">
    {{#each links2}}
    <li>
        <div class="card bg-dark text-light">
            <div class="row">
                <div class="col-md-12 text-start">
                    <h4 class="card-title text-uppercase">
                        {{this.title}}
                    </h4>
                </div>
                <div class="col-md-12">
                    <p class="more-padding">{{this.description}}</p>
                </div>
                <div class="col-md-4 text-start">
                    <p class="text-muted more-padding">
                        {{timeago this.date}}
                    </p>
                </div>
                <div class="col-md-8 text-right">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#hola{{this.id}}{{@index}}">
                        Más información
                    </button>
                    <div class="modal fade" id="hola{{this.id}}{{@index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content text-dark">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{this.title}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h5>{{this.type}}</h5>
                                <h5>{{this.impact}}</h5>
                                {{#if this.url}}
                                    <a href="{{this.url}}" target="_blank">Link de noticia</a>
                                {{/if}} 
                                
                                {{#if this.file}}
                                    <a href="/files/{{this.file}}" target="_blank">Ver noticia</a>
                                {{/if}}    
                                <p>{{this.description}}</p>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>    
    </li>
    {{else}}
    <div class="col-md-4 mx-auto">
        <div class="card card-body text-center bg-dark text-light">
            <p>No hay noticias en esta fecha, intente cambiando los parámetros de la fecha</p>
        </div>
    </div>
    {{/each}}
</ul>