{{#if user.type_user}}
    <div class="container p-4">
        <div class="row">
            {{#each links}}
            <div class="col-md-3">
                <div class="card text-center bg-dark text-light">
                    <div class="card-body">
                        <a href="{{url}}" target="_blank" class="text-light">
                            <h3 class="card-title text-uppercase">
                                {{title}}
                            </h3>
                        </a>
                        <p class="text-muted">
                            {{timeago date}}
                        </p>
                        <a class="btn btn-danger" href="/links/delete/{{id}}">
                            Eliminar
                        </a>
                        <a class="btn btn-secondary" href="/links/edit/{{id}}">
                            Editar
                        </a>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center bg-dark text-light">
                    <p>No hay noticias</p>
                    <a href="/links/add" class="text-success">Añade noticias</a>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    
{{else}}
    <div class="container p-4">
        {{#if data_body}}
            <form onchange="form_submit()" action="/links/filter" method="post" id="theForm">
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">Fecha de inicio</label>
                        <input type="date" id="filter_date" name="start_day" class="form-control bg-dark text-light" value="{{data_body.start_day}}">
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">Fecha de fin</label>
                        <input type="date" id="filter_date2" name="end_day" class="form-control bg-dark text-light" value="{{data_body.end_day}}">
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">¿Impacto?</label>
                        <select name="impact" id="impact" class="form-control bg-dark text-light" onclick="selectImpact('{{data_body.impact}}')">
                            <option >{{data_body.impact}}</option>
                        </select>
                        <script>
                            var id_selectImpact = 0
                            function selectImpact(val){
                                cadena="";
                                if(id_selectImpact == 0){
                                    if(val == 'Todos'){
                                        cadena += '<option>Informativo</option>';
                                        cadena += '<option>Positivo</option>';
                                        cadena += '<option>Negativo</option>';
                                    }
                                    else if (val == 'Informativo'){
                                        cadena += '<option>Positivo</option>';
                                        cadena += '<option>Negativo</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    else if (val == 'Positivo'){
                                        cadena += '<option>Negativo</option>';
                                        cadena += '<option>Informativo</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    else if (val == 'Negativo'){
                                        cadena += '<option>Informativo</option>';
                                        cadena += '<option>Positivo</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    $("#impact").append(cadena);
                                    id_selectImpact++;
                                }
                            }
                        </script> 
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">¿Alcance?</label>
                        <select name="scope" id="scope" class="form-control bg-dark text-light" onclick="selectScope('{{data_body.scope}}')">
                            <option >{{data_body.scope}}</option>
                        </select>  
                         <script>
                            var id_selectScope = 0
                            function selectScope(val){
                                cadena="";
                                if(id_selectScope == 0){
                                    if(val == 'Todos'){
                                        cadena += '<option>Local</option>';
                                        cadena += '<option>Regional</option>';
                                        cadena += '<option>Nacional</option>';
                                    }
                                    else if (val == 'Local'){
                                        cadena += '<option>Regional</option>';
                                        cadena += '<option>Nacional</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    else if (val == 'Regional'){
                                        cadena += '<option>Nacional</option>';
                                        cadena += '<option>Local</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    else if (val == 'Nacional'){
                                        cadena += '<option>Local</option>';
                                        cadena += '<option>Regional</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    $("#scope").append(cadena);
                                    id_selectScope++;
                                }
                            }
                        </script>        
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">¿Medio?</label>
                        <select name="media_type" id="media_type" class="form-control bg-dark text-light" onclick="selectMedia('{{data_body.media_type}}')">
                            <option >{{data_body.media_type}}</option>
                        </select> 
                         <script>
                            var id_selectMedia = 0
                            function selectMedia(val){
                                cadena="";
                                if(id_selectMedia == 0){
                                    if(val == 'Todos'){
                                        cadena += '<option>Medios radiales</option>';
                                        cadena += '<option>Medios escritos</option>';
                                        cadena += '<option>TV</option>';
                                        cadena += '<option>Redes sociales</option>';
                                    }
                                    else if (val == 'Medios radiales'){
                                        cadena += '<option>Medios escritos</option>';
                                        cadena += '<option>TV</option>';
                                        cadena += '<option>Redes sociales</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    else if (val == 'Medios escritos'){
                                        cadena += '<option>TV</option>';
                                        cadena += '<option>Redes sociales</option>';
                                        cadena += '<option>Medios radiales</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    else if (val == 'TV'){
                                        cadena += '<option>Redes sociales</option>';
                                        cadena += '<option>Medios radiales</option>';
                                        cadena += '<option>Medios escritos</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    else if (val == 'Redes sociales'){
                                        cadena += '<option>Medios radiales</option>';
                                        cadena += '<option>Medios escritos</option>';
                                        cadena += '<option>TV</option>';
                                        cadena += '<option>Todos</option>';
                                    }
                                    $("#media_type").append(cadena);
                                    id_selectMedia++;
                                }
                            }
                        </script>         
                    </div>  
                </div>
            </form>
        {{else}}
            <form onchange="form_submit()" action="/links/filter" method="post" id="theForm">
                <div class="row">
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">Fecha de inicio</label>
                        <input type="date" id="current_date" name="start_day" class="form-control bg-dark text-light" onchange="|">
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">Fecha de fin</label>
                        <input type="date" id="current_date2" name="end_day" class="form-control bg-dark text-light">
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">¿Impacto?</label>
                        <select name="impact" class="form-control bg-dark text-light">
                            <option select>Todos</option>
                            <option>Informativo</option>
                            <option>Positivo</option>
                            <option>Negativo</option>
                        </select>
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">¿Alcance?</label>
                        <select name="scope" class="form-control bg-dark text-light">
                            <option select>Todos</option>
                            <option>Local</option>
                            <option>Regional</option>
                            <option>Nacional</option>
                        </select>         
                    </div>
                    <div class="col-md-2 form-group">
                        <label class="text-light" for="">¿Medio?</label>
                        <select name="media_type" class="form-control bg-dark text-light">
                            <option select>Todos</option>
                            <option>Medios radiales</option>
                            <option>Medios escritos</option>
                            <option>TV</option>
                            <option>Redes sociales</option>
                        </select>         
                    </div>  
                </div>
            </form>
        {{/if}}
        <div class="row">
            <div class="col-md-8 list_news">
                {{>news}}
            </div>
            <div class="col-md-4">  
            </div>
        </div>
    </div>
{{/if}}